:root{
    body::-webkit-scrollbar {
        width: 12px;               /* width of the entire scrollbar */
      }
      
      body::-webkit-scrollbar-track {
        background: white;        /* color of the tracking area */
      }
      
      body::-webkit-scrollbar-thumb {
        background-color: white;    /* color of the scroll thumb */
        border-radius: 20px;       /* roundness of the scroll thumb */
        border: 3px solid #ff9c6d;  /* creates padding around scroll thumb */
      }
}

.hide{
  left: -95%;
    z-index: 1000
}

.show{
    display: block;
    left: 0;
}